/***********************************************************
 * style for id's
 ***********************************************************/
#prev, #next {
  cursor: pointer;
  color: #00a6ff;
  font-size: 40px;
  width: 15%;
}

#prev {
  margin-right: 30px;
}

#next {
  margin-left: 30px;
}

#year, #month{
  width: 20%;
}

table#calendar {
   cellpadding: 2px;
   border-collapse: collapse;
   border: 2px black solid;
   text-align: center;
   width: 1200px;
   height: 700px;
}

/***********************************************************
 * style for tags
 ***********************************************************/
th {
  border-bottom: 2px black solid;
  font-size: 30px;
}

tr, td {
  font-size: 25px;
}

tbody > tr:nth-child( even ) {
  background-color: #dddddd;
}

/***********************************************************
 * style for classes
 ***********************************************************/
div.main-calendar {
  width: 200px;
}
