<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script language="javascript" src="safari_prompt.js"></script>

<body>
    <button type="button" class="safari_btn" onclick="gho()">Safari</button>
    <input type="text" class="layout" value="">
</body>