**********************************************************
 * style for classes
 ***********************************************************/
div.Alan-calendar {
  width: 100%;
}
/***********************************************************
 * style for id's
 ***********************************************************/
#prev, #next {
  position: relative;
  margin: auto;
  cursor: pointer;
  color: #00a6ff;
  font-size: 25px;
  width: 15%;
}
/*
#prev {
  margin-right: 30px;
}

#next {
  margin-left: 30px;
}*/

#cal-year, #cal-month{
  width: 20%;
}

table#cal-table {
   position: relative;
   margin: auto;
   cellpadding: 2px;
   border-collapse: collapse;
   border: 1px black solid;
   text-align: center;
   width: 700px;
   height: 500px;
}

/***********************************************************
 * style for tags
 ***********************************************************/
th {
  font-size: 20px;
  width: 10%;
}

tr, td {
  width: 10%;
  border: 1px black solid;
  border-collapse: collapse;
  font-size: 15px;
}

tbody > tr > td > span {
  display: block;
  position: relative;
  margin-top: -33px;
  text-align: right;
  border-bottom: 1px black solid;
  border-collapse: collapse;
}

/*tbody > tr:nth-child( even ) {
  background-color: #dddddd;
}