<meta charset="utf8">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script language="javascript" src="narrowing.js"></script>
<div>
    <select>
        <option id='all' value="0">All</option>
        <option id='1' value='1'>1</option>
        <option id='2' value="2">2</option>
        <option id='3' value="3">3</option>
    </select>
</div>
<div class="content">
    <div class='1'>1</div>
    <div class='1'>1</div>
    <div class='2'>2</div>
    <div class='2'>2</div>
    <div class='3'>3</div>
    <div class='2'>2</div>
    <div class='4'>4</div>
    <div class='2'>2</div>
    <div class='3'>3</div>
</div>